Allowed over-PETting

Do we allow bytes in PET strings that are not necessarily PET? (All examples will only deal in patsh)

There are two kinds of them:

* Unreserved characters (or characters that are reserved and not on the exclusion list)

  Examples: `["a", ["b", 'c']]` would produce `a/b%63` which is equivalent under syntax normalization to `a/bc` and thus `["a", "bc"]`, `["a, ["b", '/']]` is `a/b%2F` but so is `["a", "b/"]`

* Byte sequences that accidentally form valid UTF8 pairs

  Examples: `["hash", ["", h'fff09f98acfe']]` could also be `["hash", ["", h'ff', "😬", h'fe']]`

It'd be easy to "just specify" that PET bytes must only be used to the minimal possible extent, but that means that someone producing one of these weird URIs that contain binary data not only needs to decide byte-by-byte if it's maybe an unreserved (or allowed) character -- that is easy --, but also whether a sequence of bytes might accidentally be valid UTF-8, and that needs looking ahead. (It doesn't need backtracking thanks to the construction of UTF-8, but it's still heavy, especially as not all that loos like UTF-8 really is valid Unicode code points).

Even if we required hard checking in the producers (which realistically would be converters, for nobody with CRIs in mind will use binary URIs), constrained nodes that pass on CRIs will likely not verify those details, and thus pass them on...

Unlike other complexities of PET, this one is not on URIs but on the URI-to-IRI conversion of [RFC3987 section 3.2](https://datatracker.ietf.org/doc/html/rfc3987#section-3.2) -- but people won't like procedural requirements based on that. (Especially because "strictly legal UTF-8 sequence" is not a simple definition, and because IRIs go on forbidding some Unicode characters like the RIGHT-TO-LEFT OVERRIDE of the 3.2.1 example, unlike CoAP which allows "any character"). Hmpf... 🤔

It could be argued that the effort for checking all the UTF-8 stuff is not too bad, as the user already needs a CBOR implementation. A CBOR processor needs to be able to tell whether a byte sequence is legal UTF-8 when doing str processing -- but only if it checks for validity and not only wellformedness.

Brief correction to an earlier point: I don't think now that this is related to the IRI conversion; the complexity is "only" from the CoAP (and CBOR because we equate CoAP's string with CBOR's tstr) requirement of having Net-Unicode UTF-8 data. Bad enough, given that the simple high-bits decoding of UTF-8 into a numeric code point is not enough -- the sequence of valid Unicode points has holes (to make UTF-16 work).

By the way, string vs tstr spins off *another* subtlety -- a CoAP option can't contain "\u0082" (part of the "C1 controls" CoAP's Net-Unicode requirement rules out), whereas CBOR's tstr can have that, and CoAP options can't start with "\ufeff", the zero width no-breaking space, or, pardon my language, the BOM, nor unassigned characters in the current Unicode version) -- not sure how to broach this.

My working assumption will be that any CBOR text string in CRIs is limited to Net-Unicode (to keep the conversion to CoAP working), but that many users will just take whatever is in a CBOR text string (be it non-Net-Unicode or even non-UTF-8) and stuff it into CoAP options anyway.

---

Because of the general complexity, and the newly discovered point of being really Unicode version dependent, I suggest

* allow over-PET-ting (although it SHOULD NOT be done, except when a system can not afford the computational complexity -- but we can't make it a MUST as that'd break when different Unicode standards are in use)
* state that over-PET-ted CRIs (and, thus, for many systems, potentially any PET URI) is denormalized, and their comparison has the usual consequences of comparing denormalized things.
* point out that hard decisions about PET characters are only necessary for applications that convert arbitrary URIs (and IRIs) to CRIs -- systems that build CRIs from data they know to be Net-Unicode just need to decide what to do with the reserved set. (Of course this only works for systems that can be sure their internal data is valid Unicode).

(And this is all only about systems that work with PET URIs, which IMO will not be constrained systems anyway because to them these CRIs are opaque).

---

The alternative is to allow all UTF-8 (i.e. everything that is a valid code point; no surrogates, but unassigned or C1 is OK) in CRIs. That's reasonably easy to produce for a URI-to-CRI converter.

The downside would be that some non-PET CRIs are inexpressible in CoAP -- although practically I doubt that this is or can be enforced, and if the server thinks that the data is not Net-Unicode, it'll reject it just as if the request was bad in any other way.

... and by the way, `ccdl ... verify` is way too friendly, it should spit out all kinds of unholy non-Net-Unicode outputs just to make this visible.

> Do we allow bytes in PET strings that are not necessarily PET?

I would prefer to minimize (normalize) this.

I would also like to reduce the impact that the details of net-unicode have on this conversion.

So I think I'm on the side of "the alternative".

I would prefer to be able to phrase this in a single-pass linear algorithm (look at the first byte of a byte string.  If that stands for unreserved ASCII, or starts a valid UTF-8 character ≥ U+0080, move this over to the preceding text string.).  No examination from behind :-)

"Any UTF-8" sounds good to me; the consequence of subtly nudging CoAP to accept non-Net-Unicode is fine with me.

In which direction do we want to shape expectations when it comes to violating these rules? Would we ask of a CRI processor (that takes CRIs as semi-trusted input from third parties and forwards them) to verify this, or may they get away with claiming that this was what they got so this is what they pass on? (How's that on the CBOR side? If a device receives a text string that contains invalid bytes and forwards it unchecked, is it assisting in an attack or is that permissible?).


Depends on the application again, I think. If is is important to the actual recipient to self-determine that a CBOR message was invalid, then passing it on by forwarding+parsing parties seem okay - that would be intentional in such a case.

A statement could be that "Recipients that rely on the validity of UTF-8 inside text strings or the PET to be encoded precisely need to verify that property themselves (as highly constrained devices might not able to verify these details in data they pass on)."

This is partially addressed by #64 but probably needs more text extracted and added about the actual PET generation requirements.