Can't have overscaped dots

> Any character in the elements of a host-name item that is a dot ("."), or not in…

It's a nice idea to escape dots (and consistent with the other delimited values), but a dot is unreserved, and thus
* would be normalized back into dots on the syntax level (RFC3986 section 2.3 and 6.2.2.2, "URIs that differ in the replacement of an unreserved character with its corresponding percent-encoded US-ASCII octet are equivalent")
* therefore also, "percent-encoded octets in the ranges of ALPHA (%41-%5A and %61-%7A), [...], period (%2E), [...] should not be created by URI producers" (RFC3986 section 2.3)

I think we should avoid ways to create different CRI representations of the same URI, and only produce preferred URIs.

Suggestion: remove the "that is a dot" part, and forbid dots from being present in the host parts (both in strings and byte strings).

Note: There's a line `https://interior%2edot/` somewhere around, which would then probably turn into a note that this is not a normalized URI, and after normalizing the URI things are easier.